<article class="card">
  <header>
    <h3>
      <%= repository["name"] %>
    </h3>
  </header>
  <article>
    <small>
      <%= repository["full_name"] %>
    </small>
    <p>
      <%= repository_description(repository) %>
    </p>
  </article>
  <footer>
    <a class="button" href="<%= repository["full_name"] %>/master">
      Read
    </a>
    <div class="button button--secondary">
      <i class="fa fa-star with-text-on-right"></i>
      <%= repository["stargazers_count"] %>
    </div>
  </footer>
</article>
