<article class="card">
  <header>
    <h3>
      Title For Repo
      <%= feature(url).name %>
    </h3>
  </header>
  <article>
    <small>
      <%= url %>
    </small>
    <p>
      This is some description about a repo.
      <%= feature(url).description %>
    </p>
  </article>
  <footer>
    <a class="button" href="<%= url %>/master">
      Read
    </a>
    <div class="button button--secondary">
      <i class="fa fa-star with-text-on-right"></i>
      <%= feature(url).stargazers_count %>
    </div>
  </footer>
</article>
